.hero__columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  
  
  .header__col.col--1 {
    min-width: 250px;
  }
  .hero__col.col--2 {
    z-index: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .input.mod--hero {
    width: 450px;
    height: 120px;
    margin-bottom: 0;
    padding-left: 50px;
    border-width: 1px;
    border-color: #fff;
    box-shadow: 0 46px 50px 0 rgba(0, 0, 0, 0.03);
    font-size: 20px;
  }
  
  .hero__persons {
    position: relative;
    z-index: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 490px;
    /* margin-right: -20px;
    margin-left: -85px; */
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .hero__person {
    position: relative;
    overflow: hidden;
    width: 21%;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 20px;
    cursor: pointer;
    height: 100%!important;
  }
  .hero__person.active {
    width: 58%;
  }
  .hero__person-img {
    position: relative;
    z-index: 0;
    display: block;
    height: 100%;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .hero__person-grad {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(50%, transparent),
      to(rgba(0, 0, 0, 0.8))
    );
    background-image: linear-gradient(
      180deg,
      transparent 50%,
      rgba(0, 0, 0, 0.8)
    );
    color: #fff;
  }
  .hero__person-txt-wrap {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 120px;
    height: 120px;
    margin-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .hero__person-txt-wrap.active {
    width: 100%;
    margin-bottom: 55px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .hero__person-txt-wrap.mod--first {
    margin-left: auto;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .hero__person-txt-wrap.mod--first.active {
    padding-left: 100px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .hero__person-title {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 20px;
    line-height: 24px;
  }
  .hero__person-title.active {
    height: 80px;
  }
  .hero__person-count {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    font-size: 52px;
    text-align: center;
  }
  .hero__person-count.active {
    height: 100%;
    opacity: 1;
  }
  .hero__person-count-title {
    display: inline-block;
    margin-bottom: -20px;
    line-height: 1em;
  }
  .hero__person-count-span {
    display: inline-block;
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 14px;
  }
  .hero__person-square {
    position: absolute;
    z-index: -1;
    display: block;
    width: 120px;
    height: 100%;
    margin-left: -24px;
    background-color: #1e1e2f;
  }
  .hero__person-square.active {
    width: 0;
  }
  .heading--center {
    text-align: center;
  }
  

  .swiper.swiper--persons {
    display: none;
  }
 
  .hero__person-txt-more {
    position: absolute;
    bottom: 78px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
  }
  
  .hero__person-txt-less {
    position: absolute;
    bottom: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 120px;
    height: 120px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 1;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  
  
  .hero__person-cont {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }